<!DOCTYPE html>
<html>
<head>
<head>
  <title>El Musal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

</head>
<body>
  

 <div class="navbar navbar-fixed-top" role="navigation" id="slide-nav">
  <div class="container">
   <div class="navbar-header">
    <a class="navbar-toggle"> 
      <span class="sr-only">Toggle navigation</span>
          <img src = "https://image.flaticon.com/icons/svg/258/258907.svg" id="logo"/>
    </a>
   </div>
   <div id="slidemenu">
        <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path, :class => 'navbar-link' %></li>
              <li><a href = "#about" class = "navbar-link" >Who is El Musal and what is Taho Po?</a></li>
              <li><a href = "#contact" class = "navbar-link" >Contact Us</a></li>
          <% if user_signed_in? %>
              <li><%= link_to "Dashboard", current_user, :class => 'navbar-link'  %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </li>
          <% else %>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>
          
   </div>
  </div>
 </div>

 
<div class = "container" id="page-content">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>  
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
